*{
    padding:0;
    margin:0;
}

.submit-btn
{
    background-color: #FF2400	;
    padding:7px 25px;
    border-radius: 5px;
    margin-top: 15px;
}

.contact-form{
    margin-left: 5%;
    margin-top: 20px;
}

.drop-a-line{
    font-size: 25px;
    margin:10px 0 ;
}

.input-field{
    background-color: inherit;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}


@media screen and (max-height:500px) {
    .contact-form{
        width: 80%;
        margin: auto;
        padding: 50px;
    }
    
}
