* {
    padding: 0;
    margin: 0;
}

.submit-btn {
    background-color: #FF2400;
    padding: 7px 25px;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
}

.contact-form {
    margin: auto;
    margin-top: 24px;
    width: 70%;
    height: calc(100vh - 90px);
    background-color: black;
}

.drop-a-line {
    font-size: 25px;
    margin: 10px 0;
}

.input-field {
    background-color: inherit;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}


@media screen and (max-width:520px) {
    .contact-form {
        width: 100%;
        margin: auto;
        padding: 50px;
    }

}